box.navigation-panel {
    background: #232323;
}

box.content-panel {
    background: #1a1a1a;
}

label.application-title {
    font-size: 20px;
}

button.url-link {
    padding: 0;
    margin: 0;
}

button.url-link > label {
    text-decoration: none;
}

.entry {
    border: 2px solid red;
}